<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.html" . }}

<div class="main">

    {{ if .error }}
    <div>{{ .error }}</div>
    {{ end }}

    <form action="/createEvent" method="post" class="loginForm">
        <label for="name">Event Name</label>
        <input type="text" name="name" id="name" required style="border-radius: 10px; width: 50vw;margin: 5px 0">
        <!--submit button-->
        <input type="submit" value="Create Event" name="submit" class="navbarButton">
    </form>
</div>
</body>
</html>