<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.html" . }}
<div class="main">
    {{ if .error }}
    <div>{{ .error }}</div>
    {{ end }}

    <!--login form-->
    <form action="/login" method="post" class="loginForm">
        <input type="text" name="username" placeholder="Username" required style="border-radius: 10px; width: 50vw;margin: 5px 0">
        <input type="password" name="password" placeholder="Password" required style="border-radius: 10px; width: 50vw;margin: 5px 0">
        <!--submit button-->
        <input type="submit" value="Login" name="submit" class="navbarButton">
    </form>

    <div style="text-align: center">
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>



</body>
</html>